<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Footer Container -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="footer-container">

<!-- Spacer (20px gap) -->
<!--<div class="spacer"></div>-->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Footer Infobar -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="footer-infobar">
    <div style="opacity: 1;" class="content-width">
        This site is built using elegant framework and has <b>100/100</b> google page speed on both PC and Phone   &nbsp;&nbsp;<a target="_blank" class="button white" href="http://developers.google.com/speed/pagespeed/insights/?url=getelegant.com">Check It Out</a>
    </div>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END Footer Infobar -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Footer -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="footer">
<div style="opacity: 1;" class="content-width">

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Four Columns -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="column-container">

    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- About -->
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <div class="column-one-third">
        <div class="center">
            <img alt="" src="/static/images/logo-small.png" class="logo" width="150" height="71"/>
        </div>
        <p>Open Source, Clean and Flexible NodeJs Web Framework With
            Beautiful Code, Easy to Learn And All the Power of Node.</p>



        <!--<p><a href="http://artivity.co.uk/templates/basix/purple_pink/about.html">Meet the team</a></p>-->
    </div>
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- END About -->
    <!-- ~~~~~~~~~~~~~~~~~ -->

    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- Twitter Widget -->
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- <script type="text/javascript" src="static/twitter-feed.js"></script> -->

    <div class="column-one-third">
        <h3>Latest on Twitter</h3>
        <ul id="twitter-feed">
            <li class="twitter-article" id="tw1">
                <div class="twitter-text"><p>Thank You Guys This is Really Fast !!   <a href="http://t.co/5PkXvZPHe4"
                                       target="_blank">http://t.co/5PkXvZPHe4</a><span class="tweet-time"><a
                            href="https://twitter.com/smashingmag/status/403986729691922432" target="_blank">11
                        hours ago</a></span></p></div>
            </li>
            <li class="twitter-article" id="tw2">
                <div class="twitter-text"><p>Thanks everyone — the usability test is on its way!<span
                        class="tweet-time"><a href="https://twitter.com/smashingmag/status/403938735638597633"
                                              target="_blank">14 hours ago</a></span></p></div>
            </li>
        </ul>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- END Twitter Widget -->
    <!-- ~~~~~~~~~~~~~~~~~ -->

    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- Newsletter Sign Up / Follow Us -->
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <div class="column-one-third">

        <!-- ~~~~~~~~~~~~~~~~~ -->
        <!-- Newsletter -->
        <!-- ~~~~~~~~~~~~~~~~~ -->
        <h3>Newsletter</h3>

        <div id="subscription-alert" class="alert green" style="display: none">
            <span title="Close" class="close"></span>
        </div>

        <div class="footer-newsletter">
            <form id="newsletter" name="newsletter" method="post" action="/">
                <div class="container">
                    <input name="email" id="email" class="textbox" placeholder="Email Address" type="text">
                    <input name="submit" id="submit" value="Sign Up" class="button" type="button">
                </div>
            </form>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~ -->
        <!-- END Newsletter -->
        <!-- ~~~~~~~~~~~~~~~~~ -->

        <!-- ~~~~~~~~~~~~~~~~~ -->
        <!-- Social Icons -->
        <!-- ~~~~~~~~~~~~~~~~~ -->
        <h3>Follow Us</h3>

        <ul class="footer-social">
            <!--<li>
                <a href="#"><i class="fa fa-linkedin-square"></i>

                    <div class="tooltip">LinkedIn</div>
                </a>
            </li>-->
            <li>
                <a href="#"><i class="fa fa-facebook"></i>

                    <div class="tooltip">Facebook</div>
                </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter"></i>

                    <div class="tooltip">Twitter</div>
                </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-google-plus"></i>

                    <div class="tooltip">Google+</div>
                </a>
            </li>
            <!--<li>
                <a href="#"><i class="fa fa-youtube"></i>

                    <div class="tooltip">YouTube</div>
                </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-pinterest"></i>

                    <div class="tooltip">Pinterest</div>
                </a>
            </li>-->
        </ul>
        <!-- ~~~~~~~~~~~~~~~~~ -->
        <!-- END Social Icons -->
        <!-- ~~~~~~~~~~~~~~~~~ -->

    </div>
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- END Newsletter Sign Up / Follow Us -->
    <!-- ~~~~~~~~~~~~~~~~~ -->

</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END Four Columns -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Footer Navigation -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="footer-lower-container">

    <ul class="footer-lower">
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About Elegant</a></li>
        <li><a href="/start.html">Getting Started</a></li>
        <li><a href="/doc.html">Documentation</a></li>
        <li><a href="https://github.com/digital-flowers/elegant" target="_blank">Get Involved</a></li>
        <!--<li><a href="#">Donate</a></li>-->
        <li><a href="/contact.html">Contact Us</a></li>
    </ul>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Copyright -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="footer-copyright">
        Copyright © 2014 <a href="/" target="_blank">Elegant Framework</a>. All rights reserved.
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END Copyright -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END Footer Navigation -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Top of Page Link -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<a style="display: none;" class="top-of-page-link" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END Top of Page Link -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

</div>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END Footer -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END Footer Container -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->