<div class="home-banner light">
    <div class="content-width slide-style-3">
        <div class="slide-style-inner">
            <!-- Image -->
            <img alt="" src="static/images/logo.png" width="500" height="236" />

            <p>
                Open Source, Clean and <b><a href="#">Flexible</a></b> NodeJs Web Framework With <br />
                <b><a href="#">Beautiful Code</a></b>, <b><a href="">Easy to Learn</a></b> And All the Power of Node.
            </p>

            <p style="margin-bottom: 30px">
                <a class="button white" href="/about.html"><i class="fa"></i>About Elegant</a>
                <a class="button accent" href="/start.html"><i class="fa"></i>Getting Started</a>
            </p>
        </div>
    </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- CTA Bar - Set "white", "accent" or "dark" -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--<div class="home-cta-bar-container accent">

    <div style="opacity: 1;" class="content-width">
        <div class="home-cta-bar">

            <div class="text">
                Start Learning Easly Now
            </div>

            <div class="home-cta-bar-button">
                <a class="button transparent" href="#"><i class="fa fa-shopping-cart"></i>Documentation</a>
            </div>
        </div>
    </div>

</div>-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END CTA Bar -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->