<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Main Content -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="main-content" style="display: none">
<div style="opacity: 1;" class="main-content-inner content-width">

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Left Aligned Icons & Text -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--<div class="column-container">


    <div class="column-one-third">
        <div class="icons-column">

            <div class="icon-backing" style="background-color: #66b9b4;">

                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div class="content-column">

            <h3>Timeless Design</h3>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
        </div>
    </div>

    <div class="column-one-third">
        <div class="icons-column">

            <div class="icon-backing" style="background-color: #6E6588;">

                <i class="fa fa-font"></i>
            </div>
        </div>
        <div class="content-column">


            <h3>Great Typography</h3>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
        </div>
    </div>
    <div class="column-one-third">
        <div class="icons-column">

            <div class="icon-backing" style="background-color: #63885F;">

                <i class="fa fa-fullscreen"></i>
            </div>
        </div>
        <div class="content-column">

            <h3>Responsive Layout</h3>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
        </div>
    </div>

</div>-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END Left Aligned Icons & Text -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Divider -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--<div class="divider"></div>-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END Divider -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


</div>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END Main Content -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->