<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Main Content -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="main-content">
    <div style="opacity: 1;" class="main-content-inner content-width">

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Page Title -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <h1>Contact Us</h1>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Title -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Intro -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <p>
            Don't hesitate to give us any feedback , or ask us any question you are very important to us,
            all information received will always remain confidential.
            We will contact you as soon as we review your message.
        </p>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Intro -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
           {%if msg%}
        <div class="alert green">
            {{msg}}
            <span title="Close" class="close"></span>
        </div>
            {%endif%}
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Spacer x 2 -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="spacer"></div>
        <div class="spacer"></div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Spacer x 2 -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Left Aligned Icons & Text (Vertically centered) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="column-container">

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- One Third -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="column-one-third">
                <div class="icons-column vertical-center">
                    <!-- Icon Backing -->
                    <div class="icon-backing">
                        <!-- Icon -->
                        <i class="fa fa-phone"></i>
                    </div>
                </div>
                <div class="content-column vertical-center">
                    <!-- Title -->
                    <h3 class="no-margin">Telephone Us</h3>
                    <!-- Text -->
                    <p>+0096799168485</p>
                </div>
            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END One Third -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- One Third -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="column-one-third">
                <div class="icons-column vertical-center">
                    <!-- Icon Backing -->
                    <div class="icon-backing">
                        <!-- Icon -->
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
                <div class="content-column vertical-center">
                    <!-- Title -->
                    <h3 class="no-margin">Email Us</h3>
                    <!-- Text -->
                    <p><a href="#">Info@getelegant.com</a></p>
                </div>
            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END One Third -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- One Third -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="column-one-third">
                <div class="icons-column vertical-center">
                    <!-- Icon Backing -->
                    <div class="icon-backing">
                        <!-- Icon -->
                        <i class="fa fa-map-marker"></i>
                    </div>
                </div>
                <div class="content-column vertical-center">
                    <!-- Title -->
                    <h3 class="no-margin">Location</h3>
                    <!-- Text -->
                    <p>Amman , Jordan</p>
                </div>
            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END One Third -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Left Aligned Icons & Text -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Spacer x 3 -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Spacer x 3 -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Contact Form -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="contact-form">
            <form id="comment-form" name="contact-form" method="post" action="contact.html">
                <!-- Textbox -->
                <input name="name" placeholder="Name *" type="text" class="textbox light-bg" required="true" style="background-color: #E6E6E6;">
                <!-- Textbox -->
                <input name="email" placeholder="Email Address *" type="email" class="textbox light-bg" required="true" style="background-color: #E6E6E6;">
                <!-- Textbox -->
                <input name="phone" placeholder="Phone" type="text" class="textbox light-bg" style="background-color: #E6E6E6;">
                <!-- Message Box -->
                <textarea name="message" placeholder="Message *" required="true"></textarea>
                <!-- Submit Button -->
                <input class="accent" value="Submit Comment" type="submit">
            </form>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Contact Form -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    </div>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END Main Content -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
