<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- Categories -->
<!-- ~~~~~~~~~~~~~~~~~ -->
<div class="sidebar-widget categories fixed">
    <!-- Title -->
    <h3>Getting Started</h3>
    <!-- Category Links -->
    <a href="#install-elegant">Installing Elegant</a>
    <a href="#first-app">Your First Elegant App</a>
    <a href="#app-structure">App Directory Structure</a>
    <a href="#hello-world">Hello World</a>
    <a href="#first-query">First Database Query</a>
    <a href="#form-submit">Form Submission</a>
    <a href="#using-session">Using Session</a>
    <a href="#html-templating">Html Templating</a>
    <a href="#managing-static">Managing Static Resources</a>
    <a href="#caching-compression">Caching and Compression</a>
    <!--<a href="#tips-tricks">Tips & Tricks</a>-->
</div>
<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- END Categories -->
<!-- ~~~~~~~~~~~~~~~~~ -->
