<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- Categories -->
<!-- ~~~~~~~~~~~~~~~~~ -->
<div class="sidebar-widget categories">
    <!-- Title -->
    <h3>Getting Started</h3>
    <!-- Category Links -->
    <a href="#">Install Elegant</a>
    <a href="#">Your First App</a>
    <a href="#">Your First View</a>
    <a href="#">Hello Database</a>
</div>
<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- END Categories -->
<!-- ~~~~~~~~~~~~~~~~~ -->

<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- Search -->
<!-- ~~~~~~~~~~~~~~~~~ -->
<div class="sidebar-widget search">
    <!-- Title -->
    <h3>Search</h3>
    <!-- Search Form -->
    <form name="blog-search" method="get" action="#">
        <div class="container">
            <!-- Textbox -->
            <input id="blog-search" name="blog-search" placeholder="Type and hit enter" type="text" class="textbox"/>
            <!-- Search Button -->
            <input id="go" class="go" value="" type="submit">
        </div>
    </form>
</div>
<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- END Search -->
<!-- ~~~~~~~~~~~~~~~~~ -->

<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- Latest Project -->
<!-- ~~~~~~~~~~~~~~~~~ -->
<div class="sidebar-widget project">
    <!-- Title -->
    <h3>Latest Elegant Intercepters</h3>
    <!-- Image -->
    <a href="" class="image-link">
        <img alt="" src="/static/images/preview4.jpg" class="fullwidth"></a>
    <!-- Project Title -->
    <h3 class="sub-title"><a href="">ATEX
        Sportsware</a></h3>
    <!-- Tags -->
    <div class="tags">Branding</div>
</div>
<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- END Latest Project -->
<!-- ~~~~~~~~~~~~~~~~~ -->

<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- Popular Posts -->
<!-- ~~~~~~~~~~~~~~~~~ -->
<div class="sidebar-widget posts">
    <!-- Title -->
    <h3>Popular Elegant Tricks</h3>

    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- Post -->
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <div class="post">
        <!-- Image Column -->
        <div class="img-column">
            <a href="http://artivity.co.uk/templates/basix/purple_pink/blog-post.html" class="image-link mini">
                <img alt="" src="/static/images/preview9-mini.jpg" class="fullwidth">
            </a>
        </div>
        <!-- Content Column -->
        <div class="content-column">
            <!-- Post Title -->
            <h3 class="sub-title"><a href="http://artivity.co.uk/templates/basix/purple_pink/blog-post.html">Lorem
                Ipsum is simply dummy text of the printing</a></h3>
            <!-- Date -->
            <div class="date">14 December 2011</div>
        </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- END Post -->
    <!-- ~~~~~~~~~~~~~~~~~ -->

    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- Post -->
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <div class="post">
        <!-- Image Column -->
        <div class="img-column">
            <a href="http://artivity.co.uk/templates/basix/purple_pink/blog-post.html" class="image-link mini"><img
                    alt="" src="/static/images/preview11-mini.jpg" class="fullwidth"></a>
        </div>
        <!-- Content Column -->
        <div class="content-column">
            <!-- Post Title -->
            <h3 class="sub-title"><a href="http://artivity.co.uk/templates/basix/purple_pink/blog-post.html">Super
                awesome blog page title</a></h3>
            <!-- Date -->
            <div class="date">14 December 2011</div>
        </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- END Post -->
    <!-- ~~~~~~~~~~~~~~~~~ -->

    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- Post -->
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <div class="post">
        <!-- Image Column -->
        <div class="img-column">
            <a href="http://artivity.co.uk/templates/basix/purple_pink/blog-post.html" class="image-link mini"><img
                    alt="" src="/static/images/preview8-mini.jpg" class="fullwidth"></a>
        </div>
        <!-- Content Column -->
        <div class="content-column">
            <!-- Post Title -->
            <h3 class="sub-title"><a href="http://artivity.co.uk/templates/basix/purple_pink/blog-post.html">The
                standard chunk of Lorem Ipsum used since...</a></h3>
            <!-- Date -->
            <div class="date">14 December 2011</div>
        </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- END Post -->
    <!-- ~~~~~~~~~~~~~~~~~ -->

</div>
<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- END Popular Posts -->
<!-- ~~~~~~~~~~~~~~~~~ -->