<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- Categories -->
<!-- ~~~~~~~~~~~~~~~~~ -->
<div class="sidebar-widget categories fixed">
    <!-- Title -->
    <h3>About Elegant</h3>
    <!-- Category Links -->
    <a href="#why-elegant">Why Elegant?</a>
    <a href="#beautiful-node">Beautiful NodeJs Code</a>
    <a href="#flexible-framework">Flexible Framework</a>
    <a href="#ready-use">Ready to Use</a>
    <a href="#whats-next">What's Next?</a>
</div>
<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- END Categories -->
<!-- ~~~~~~~~~~~~~~~~~ -->
