<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- Categories -->
<!-- ~~~~~~~~~~~~~~~~~ -->
<div class="sidebar-widget categories fixed">
    <!-- Title -->
    <h3>Documentation</h3>
    <!-- Category Links -->
    <a href="#config">elegant-config</a>

    <div class="sub-categories">
        <a href="#config-desc">Description</a>
        <a href="#config-prop">Properties</a>
        <a href="#config-app-config">Your elegant app configuration</a>
    </div>
    <a href="#controller">elegant-controller</a>

    <div class="sub-categories">
        <a href="#controller-desc">Description</a>
        <a href="#controller-con">Constructor</a>
        <a href="#controller-prop">Properties</a>
        <a href="#controller-dynamic-prop">Dynamic properties</a>
        <a href="#controller-methods">Methods</a>
        <a href="#controller-def">Defining controllers</a>
        <a href="#controller-return">Returning result</a>
        <a href="#controller-avoid">How to avoid nested callbacks</a>
        <a href="#controller-core">Core elegant controllers</a>
    </div>
    <a href="#error">elegant-error</a>

    <div class="sub-categories">
        <a href="#error-desc">Description</a>
        <a href="#error-con">Constructor</a>
        <a href="#error-prop">Properties</a>
        <a href="#error-return">Returning error to the user</a>
        <a href="#error-redirect">Redirect errors to custom urls</a>
    </div>
    <a href="#file">elegant-file</a>

    <div class="sub-categories">
        <a href="#file-desc">Description</a>
        <a href="#file-con">Constructor</a>
        <a href="#file-prop">Properties</a>
        <a href="#file-return">Returning file</a>
    </div>
    <a href="#interceptor">elegant-interceptor</a>
    <div class="sub-categories">
        <a href="#interceptor-desc">Description</a>
        <a href="#interceptor-con">Constructor</a>
        <a href="#interceptor-prop">Properties</a>
        <a href="#interceptor-methods">Methods</a>
        <a href="#interceptor-core">Core elegant interceptors</a>
        <a href="#interceptor-def">Defining interceptor</a>
        <a href="#interceptor-export">Exporting variables</a>
    </div>

    <a href="#redirect">elegant-redirect</a>

    <div class="sub-categories">
        <a href="#redirect-desc">Description</a>
        <a href="#redirect-con">Constructor</a>
        <a href="#redirect-prop">Properties</a>
        <a href="#redirect-request">Redirecting user request</a>
    </div>
    <a href="#response-data">elegant-response-data</a>

    <div class="sub-categories">
        <a href="#response-data-desc">Description</a>
        <a href="#response-data-con">Constructor</a>
        <a href="#response-data-prop">Properties</a>
        <a href="#response-data-return">Returning response data</a>
    </div>
    <!--
    <a href="#sync">elegant-sync</a>
    -->
    <a href="#view">elegant-view</a>

    <div class="sub-categories">
        <a href="#view-desc">Description</a>
        <a href="#view-con">Constructor</a>
        <a href="#view-prop">Properties</a>
        <a href="#view-return">Returning html page</a>
    </div>

</div>
<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- END Categories -->
<!-- ~~~~~~~~~~~~~~~~~ -->
