<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Top Bar - Set "white" or "dark" below -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="topbar-outer white">

    <div style="opacity: 1;" class="topbar content-width">

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Logo -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="table fullheight">
            <div class="table-cell fullheight middle">
                <div class="logo"><a href="/"><img alt="" src="static/images/logo-only-small.png" width="49" height="50"></a></div>
            </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Logo -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Social Icons -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <ul class="topsocial">
            <!--<li><a href="#"><i class="fa fa-linkedin-square"></i>

                <div class="tooltip">LinkedIn</div>
            </a></li>-->
            <li><a href="#"><i class="fa fa-facebook"></i>

                <div class="tooltip">Facebook</div>
            </a></li>
            <li><a href="#"><i class="fa fa-twitter"></i>

                <div class="tooltip">Twitter</div>
            </a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i>

                <div class="tooltip">Google+</div>
            </a></li>
        </ul>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Social Icons -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Main Navigation -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <ul class="topnav">
            <li><a href="/" {% if View.PATH == "" %} class="current" {% endif %}>Home</a></li>
            <li><a href="/about.html" {% if View.PATH == "about.html" %} class="current" {% endif %}>About Elegant</a></li>
            <li><a href="/start.html" {% if View.PATH == "start.html" %} class="current" {% endif %}>Getting Started</a></li>
            <li><a href="/doc.html" {% if View.PATH == "doc.html" %} class="current" {% endif %}>Documentation</a></li>
            <li><a href="https://github.com/digital-flowers/elegant" target="_blank">Get Involved</a></li>
            <!--<li><a href="">Donate</a></li>-->
            <li><a href="/contact.html">Contact Us</a></li>
        </ul>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Main Navigation -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Mobile Navigation -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Show/Hide Menu Button -->
        <!-- ~~~~~~~~~~~~~~~~~ -->
        <a href="#" class="mobilenav-click">
            <div class="mobilenav-button-container">
                <div class="mobilenav-button-inner">
                    <!-- Set "white" or "dark" -->
                    <div class="mobilenav-button"></div>
                </div>
            </div>
        </a>
        <!-- ~~~~~~~~~~~~~~~~~ -->
        <!-- END Show/Hide Menu Button -->
        <!-- ~~~~~~~~~~~~~~~~~ -->

        <!-- ~~~~~~~~~~~~~~~~~ -->
        <!-- Navigation Menu (Populated using jQuery) -->
        <!-- ~~~~~~~~~~~~~~~~~ -->
        <div class="mobilenav-container">
            <ul class="mobilenav">
                <li><a href="/" {% if View.PATH == "" %} class="current" {% endif %}>Home</a></li>
                <li><a href="/about.html" {% if View.PATH == "about.html" %} class="current" {% endif %}>About Elegant</a></li>
                <li><a href="/start.html" {% if View.PATH == "start.html" %} class="current" {% endif %}>Getting Started</a></li>
                <li><a href="/doc.html" {% if View.PATH == "doc.html" %} class="current" {% endif %}>Documentation</a></li>
                <li><a href="https://github.com/digital-flowers/elegant" target="_blank">Get Involved</a></li>
                <!--<li><a href="">Donate</a></li>-->
                <li><a href="/contact.html">Contact Us</a></li>
            </ul>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~ -->
        <!-- END Navigation Menu
        <!-- ~~~~~~~~~~~~~~~~~ -->
        <!-- END Mobile Navigation -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    </div>

</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- END Top Bar -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
